<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/navbar_style.css}" rel="stylesheet">
</head>
<body>

<div class="header clearfix" th:fragment="header">
    <div class="mt-2 text-center border-bottom">
        <img th:src="@{/css/logo.png}" alt="" class="invert"> <br>
        <p class="myFont">My notes</p>
    </div>
    <nav class="navbar-expand-md border-bottom">
        <div class="text-center mt-0 collapse navbar-collapse">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/notes}">notes</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link active" th:href="@{/users}">users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about}">about</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contact}">contact</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{/}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Settings
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">account info</a></li>
                        <li><a class="dropdown-item" href="/settings/change">change password</a></li>
                        <li><a class="dropdown-item" href="/logout">sign out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <br>
</div>

</body>
</html>
