<div xmlns:th="http://www.thymeleaf.org" th:fragment="headerValidated" class="header clearfix">
    <nav class="navbar" >
        <div class="navbar-nav">
            <a class="navbar-brand" href="#">MyNotes</a>
        </div>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" href="#">Notes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </nav>
</div>

<div xmlns:th="http://www.thymeleaf.org" th:fragment="headerUnvalidated" class="header clearfix">
    <nav class="navbar" >
        <div class="navbar-nav">
            <a class="navbar-brand" href="#">MyNotes</a>
        </div>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
            </li>
        </ul>
    </nav>
</div>



