<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Change user password</title>
</head>
<body>
<main layout:fragment="main">
    <form th:action="@{/users/changePassword}" th:object="${userForm}" method="POST">
        <input hidden="hidden" th:field="*{id}"/>
        <div class="mb-3">
            <label for="password" class="form-label"> New password: </label>
            <input type="password" name="password" class="form-control" id="password">
            <span class="has-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
        </div>
        <div class="mb-3">
            <label for="passwordConfirm" class="form-label"> Confirm new password: </label>
            <input type="password" name="passwordConfirm" class="form-control" id="passwordConfirm">
            <span class="has-error" th:if="${#fields.hasErrors('passwordConfirm')}"
                  th:errors="*{passwordConfirm}"></span>
        </div>
        <div>
            <a class="btn btn-secondary mr-3" th:href="@{/users/list}">Cancel</a>
            <button class="btn btn-primary" type="submit">Save changes</button>
        </div>
    </form>
    </div>
</main>
</body>
</html>
