<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Edit user</title>
</head>
<body>
<main layout:fragment="main">
    <form th:action="@{/users/updateUserOpenData}" th:object="${userForm}" method="POST">
        <input hidden="hidden" th:field="*{id}"/>
        <div class="mb-3">
            <label for="email" class="form-label"> New user email: </label>
            <input type="email"  th:field="*{email}"  name="email" class="form-control" id="email">
            <span class="has-error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        </div>
        <div class="mb-3">
            <div class="mb-1" th:each="role : ${roles}">
                <input type="checkbox" class="form-check-input" th:field="*{roles}" th:value="${role.id}"/>
                <label class="form-check-label" th:for="${#ids.prev('roles')}"
                       th:text="${role.name}"></label>
            </div>
        </div>
        <div>
            <a class="btn btn-secondary mr-3" th:href="@{/users/list}">Cancel</a>
            <button class="btn btn-primary" type="submit">Save changes</button>
        </div>
    </form>


</main>
</body>
</html>
