<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Edit user</title>
</head>
<body>
<main layout:fragment="main">
<div class="container" style="background:white; opacity: 0.7; overflow-y: auto">
    <h1>Edit user</h1>
    <form th:action="@{/users/updateUserOpenData}" th:object="${userForm}" method="POST">
        <input hidden="hidden" th:field="*{id}"/>
        <div class="form-group">
            <label> New user email: </label>
            <input type="text"  th:field="*{email}"  name="email" class="form-control">
            <span class="has-error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        </div>
        <input hidden="hidden" th:field="*{password}"/>
        <input hidden="hidden" th:field="*{passwordConfirm}"/>
        <div class="form-group">
        <label> Roles:
            <input type="checkbox" name="roles"
                   th:each="role : ${roles}"
                   th:text="${role.name}"
                   th:value="${role.id}"
                   th:field="*{roles}"/>
        </label>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </form>
    <form th:action="@{/users/list}" method="GET">
        <button class="btn btn-secondary" type="submit">Back to Users</button>
    </form>
</div>
</main>
</body>
</html>
