<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>List of users</title>
</head>
<body>
<div>
<section layout:fragment="content">
    <div class="container" style="background:white; opacity: 0.7; overflow-y: auto">
    <table class = "table table-striped">
        <thead>
        <tr th:if="${users!=null}">
            <th>Email</th>
            <th>User roles</th>
            <th>Actions</th>
        </tr>
        <div th:if="${users==null}">
            <p>There is no user</p>
        </div>
        </thead>
        <tbody>
        <h3>List of users</h3>
        <a th:href = "@{/users/create}" class="btn btn-primary" method="GET"> Add User </a>
        <tr th:each="user: ${users}">
            <td th:text="${user.email}"></td>
            <td th:text="${user.roles}"></td>
            <td colspan="3" style="display:flex; justify-content:space-around; max-width:200px">
                <a class="btn btn-light" title="Delete"
                   th:href="@{/users/delete/{id}(id=${user.id})}">
                    <img src="/icons/trash.png"
                         alt="deleteButton"
                         style="border:0; width:30px; height:30px"/></a>
                <a class="btn btn-light" title="Edit"
                   th:href="@{/users/update/{id}(id=${user.id})}">
                    <img src="/icons/edit.png"
                         alt="editButton"
                         style="border:0; width:30px; height:30px"/></a>
                <a class="btn btn-light" title="Change password"
                   th:href="@{/users/changePassword/{id}(id=${user.id})}">
                    <img src="/icons/password-code.png"
                         alt="changePasswordButton"
                         style="border:0; width:30px; height:30px"/></a>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</section>
</div>
</body>
</html>