body {
padding-top: 10px;
	background-image: url(/images/background.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
    min-height: 100vh;
    margin:0;
    display:flex;
    flex-direction:column;
}
header{
    min-height:50px;
}
footer{
    min-height:50px;
    color: white;
}
article{
    flex:1;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-heading {
    color: white;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin-heading {
    color: white;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input {
    margin-top: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin button {
    margin-top: 10px;
}

.has-error {
    color: red;
}

.form-massage {
    color: white;
}

.text-href {
    color: white;
}

.text-href:hover {
    color:#3399ff;
}

.myFooter{
    font-family: 'MyWebFont';
	font-size:11px;
	letter-spacing:1.5px;
	color:white;
}

.pictureStyle {
	height: 150px;
	border: 2px solid #e0e0e0;
}

.description {
	font-family: 'MyWebFont';
	letter-spacing:1px;
	color:#e0e0e0;
	font-size:15px;
}
html { visibility:hidden; }
