@font-face{
		font-family: 'MyWebFont';
		src: url('StarJedi-DGRW.woff') format('woff');
}

.myFont{
	font-family: 'MyWebFont';
	letter-spacing:1px;
	color:white;
	font-size:27px;
}

.nav-item{
	font-family: 'MyWebFont';
	font-size:17px;
	letter-spacing:1px;
	color:#e0e0e0;
	min-width:12vw;
}

.nav-item:hover{
	color:#fff;
}

.dropdown-menu {
	background:#fff;
	opacity: 0.95;
}
.dropdown-toggle {
	color:#e0e0e0;
}

.dropdown-toggle:hover {
	color:#fff;
}

.dropdown-item:hover {
	background: #cccccc;
	color:#010136;
}


