<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <title>Create Note</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container" style="background:white; opacity: 0.7; overflow-y: auto; position:relative">
        <h1>Create note</h1>
        <form th:action="@{/notes}" th:object="${note}" method="POST">
            <div class="form-group">
                <label> Title: </label>
                <input type="text" th:field="*{name}" class="form-control">
                <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </div>
            <div class="form-group" style ="margin-top: 10px;">
                <label> Category: </label>
                <select class="form-select" th:field="*{category}" id="category">
                    <option value="">select category</option>
                    <option th:each="category : ${T(ua.goit.dev6.note.Category).values()}"
                            th:value="${category}"
                            th:text="${category.name}">
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label> Content: </label>
                <textarea rows="15" th:field="*{content}" class="form-control"></textarea><br>
            </div>
            <div class="form-check">
                <label class="form-check-label"> Public </label>
                <input class="form-check-input" type="radio" id="public" name="accessType"
                       th:value="PUBLIC">
            </div>
            <div class="form-check">
                <label class="form-check-label"> Private </label>
                <input class="form-check-input" type="radio" id="private" name="accessType"
                       th:value="PRIVATE" th:checked="${true}">
            </div>
            <div>
                <button type="submit" class="btn btn-primary" style="position:absolute; bottom:12px;right:150px">Create</button>
            </div>
        </form>
        <form th:action="@{/notes}" method="GET">
            <button class="btn btn-secondary" type="submit" style="position:absolute; bottom:12px;right:12px">Back to Notes</button>
        </form>
    </div>

</section>
</body>
</html>
