<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <title>Edit Note</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container" style="background:white; opacity: 0.7; overflow-y: auto; position:relative">
        <h1>Edit note</h1>
        <form th:action="@{/notes}" th:object="${note}" method="POST">
            <div class="form-group">
                <label> Title: </label>
                <input type="text" th:field="*{name}" name="name" class="form-control">
            </div>
            <div class="form-group" style="margin-top: 10px;">
                <label> Category: </label>
                <select class="form-select" th:field="*{category}" id="category">
                    <option value="">select category</option>
                    <option th:each="category : ${T(ua.goit.dev6.note.Category).values()}"
                            th:value="${category}"
                            th:text="${category.name}">
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label> Content: </label>
                <textarea rows="15" th:field="*{content}" name="content" class="form-control"></textarea><br>
            </div>
            <div class="form-check">
                <label class="form-check-label"> Public </label>
                <input class="form-check-input" type="radio" th:field="*{accessType}"
                       id="public" name="accessType" th:value="PUBLIC">
            </div>
            <div class="form-check">
                <label class="form-check-label"> Private </label>
                <input class="form-check-input" type="radio" th:field="*{accessType}"
                       id="private" name="accessType" th:value="PRIVATE">
            </div>
            <div>
                <input name="id" type="hidden" th:field="*{id}">
                <button class="btn btn-primary update_data" type="submit" name="update_data"
                        th:attr="resource=|/notes/${note.id}|"
                        style="position:absolute; bottom:12px;right:150px">
                    Save changes
                </button>
            </div>
        </form>
        <!--        <form th:action="@{/notes}" method="GET">-->
        <!--            <button class="btn btn-secondary" type="submit" style="position:absolute; bottom:12px;right:12px">Back to Notes</button>-->
        <a th:href="@{/notes}" class="btn btn-secondary" type="button"
           style="position:absolute; bottom:12px;right:12px">Back to Notes</a>
    </div>

</section>
<th:block layout:fragment="script">
    <script>
        var putMethod = (event) => {
            event.preventDefault();
            putData();
        }

        function putData() {
            let url = "/notes/" + document.getElementById("id").value;
            let urlRedirect = "/notes";
            let data = {};
            data[document.getElementById("id").name] = document.getElementById("id").value;
            data[document.getElementById("name").name] = document.getElementById("name").value;
            data[document.getElementById("category").name] = document.getElementById("category").value;
            data[document.getElementById("content").name] = document.getElementById("content").value;
            const radioButtons = document.querySelectorAll("[type=radio]");
            radioButtons.forEach(e => {
                if (e.checked) {
                    data[e.name] = e.value;
                }
            })
            const response = fetch(url, {
                method: 'PUT',
                mode: 'cors',
                cache: 'no-cache',
                credentials: 'same-origin',
                headers: {
                    'Content-Type': 'application/json'
                },
                redirect: 'manual',
                referrerPolicy: 'strict-origin',
                body: JSON.stringify(data)
            }).then((response) => {
                if (!response.ok) {
                    if(!alert("Wrong format! Update canceled!")){
                        window.location.href = urlRedirect;
                    }
                } else {
                    window.location.href = urlRedirect;
                }
            }).catch(function (err) {
                console.info(err + " url: " + url);
            });
        }

        document.querySelectorAll("[name=update_data]").forEach(element => {
            element.addEventListener("click", putMethod);
        })
    </script>
</th:block>
</body>
</html>
