<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <title>Edit Note</title>
</head>
<body>
<main layout:fragment="main">
        <h1>Edit note</h1>
        <form th:action="@{/notes/{id}(id=${note.id})}" th:method="put" th:object="${note}">
            <div class="mb-3">
                <label for="name" class="form-label"> Title: </label>
                <input type="text" th:field="*{name}" class="form-control" id="name">
                <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </div>
            <div class="mb-3">
                <label for="category" class="form-label"> Category: </label>
                <select class="form-select" th:field="*{category}" id="category">
                    <option value="">select category</option>
                    <option th:each="category : ${categories}"
                            th:value="${category}"
                            th:text="${category.name}">
                    </option>
                </select>
            </div>
            <div class="mb-3">
                <label for="textarea" class="form-label"> Content: </label>
                <textarea th:field="*{content}" class="form-control" style="height: 100px" id="textarea"></textarea><br>
            </div>
            <div class="mb-3">
                <label for="public" class="form-check-label"> Public </label>
                <input class="form-check-input" type="radio" id="public" name="accessType"
                       th:value="PUBLIC" th:field="*{accessType}">
            </div>
            <div class="mb-3">
                <label for="private" class="form-check-label"> Private </label>
                <input class="form-check-input" type="radio" id="private" name="accessType"
                       th:value="PRIVATE" th:field="*{accessType}">
            </div>
            <div class="mb-3">
                <input name="id" type="hidden" th:field="*{id}">
                <a class="btn btn-secondary mr-3" th:href="@{/notes}">Cancel</a>
                <button class="btn btn-primary" type="submit" >
                    Save changes
                </button>
            </div>
        </form>
</main>
</body>
</html>
