<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <title>Edit Note</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container" style="background:white; opacity: 0.7; overflow-y: auto">
        <h1>Edit note</h1>
        <form th:action="@{/notes}" th:object="${note}" method="POST">
            <div class="form-group">
                <label> Title: </label>
                <input type="text" th:field="*{name}" name="name" class="form-control">
            </div>
            <div class="form-group">
                <label> Content: </label>
                <textarea rows="15" th:field="*{content}" name="content" class="form-control"></textarea><br>
            </div>
            <div class="form-check">
                <label class="form-check-label"> Public </label>
                <input class="form-check-input" type="radio" th:field="*{accessType}"
                       id="public" name="accessType" th:value="PUBLIC">
            </div>
            <div class="form-check">
                <label class="form-check-label"> Private </label>
                <input class="form-check-input" type="radio" th:field="*{accessType}"
                       id="private" name="accessType" th:value="PRIVATE">
            </div>
            <div>
                <input name="id" type="hidden" th:field="*{id}">
                <button class="btn btn-secondary update_data" type="submit" name="update_data"
                        th:attr="resource=|/notes/${note.id}|">
                    Save changes
                </button>
            </div>
        </form>
        <form th:action="@{/notes}" method="GET">
            <button class="btn btn-secondary" type="submit">Cancel</button>
        </form>
    </div>

</section>
<th:block layout:fragment="script">
    <script>
        var putMethod = (event) => {
            event.preventDefault();

            var button = document.querySelectorAll("[name=update_data]");
            var url = button[0].getAttribute("resource")

            var body = {};
            body[document.getElementById("id").name] = document.getElementById("id").value;
            body[document.getElementById("name").name] = document.getElementById("name").value;
            body[document.getElementById("content").name] = document.getElementById("content").value;
            var radioButtons = document.querySelectorAll("[type=radio]");
            radioButtons.forEach(e => {
                if (e.checked) {
                    body[e.name] = e.value;
                }

            })
            var xhr = new XMLHttpRequest();
            xhr.open("PUT", url);
            xhr.setRequestHeader("Content-Type", "application/json; charset=utf-8");
            xhr.onload = () => {
                if (xhr.status === 200) {
                    var button = document.querySelectorAll("[name=update_data]");
                    button[0].innerHTML = "Saved!"
                } else {
                    console.log(xhr.status, xhr.responseText);
                }
            }
            xhr.send(JSON.stringify(body));
        }

        document.querySelectorAll("[name=update_data]").forEach(element => {
            element.addEventListener("click", putMethod);
        })
    </script>
</th:block>
</body>
</html>
