<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <title>Public Note</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container" style="background:white; opacity: 0.7; overflow-y: auto">
        <h5>Public note</h5>
        <div class="text-center border-bottom border-top">
            <h3>
                <b><span th:text="${note.name}"></span></b><br>
            </h3>
        </div>
        <h4>
            <span th:text="${note.content}"></span>
        </h4>
        <br>
        <a th:href="@{/friendsnotes/add/{id}(id=${note.id})}" class="btn btn-secondary" alt="">
            Add to my list
        </a><br><br>
    </div>
</section>
</body>
</html>
