<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <title>Public Note</title>
</head>
<body>
<main layout:fragment="main">
        <h5>Public note</h5>
        <div class="text-center border-bottom border-top">
            <h3>
                <b><span th:text="${note.name}"></span></b><br>
            </h3>
        </div>
        <h4>
            <span th:text="${note.content}"></span>
        </h4>
        <a th:href="@{/sharednotes/add/{id}(id=${note.id})}" class="btn btn-secondary mb-3">
            Add to shared notes
        </a>
</main>
</body>
</html>
