<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Contact</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container text-center">
        <div>
            <img src="\images\1.png" alt="" class="pictureStyle">
            <h4 style="color:white; font-size:15px;">Master Yoda - Serhii Babanov</h4>
            <p class="description">"Write code. or do not write code. There is no try."</p>
        </div>
        <div>
            <img src="\images\2.png" alt="" class="pictureStyle">
            <h4 style="color:white; font-size:15px;">Plo Koon - Roman Kushnir</h4>
            <p class="description">"We can do this the simple way or the Java way. The choice is yours."</p>
        </div>
        <div>
            <img src="\images\3.jpg" alt="" class="pictureStyle">
            <h4 style="color:white; font-size:15px;">Chewbacca - Nataliia Hrybyniuk</h4>
            <p class="description">"Rrrruuuurrr! Grrrrr!"</p>
        </div>
        <div>
            <img src="\images\4.jpg" alt="" class="pictureStyle">
            <h4 style="color:white; font-size:15px;">Grogu - Svitlana Gorodok</h4>
            <p class="description">"Come on, baby. Do the magic Java thing."</p>
        </div>
        <div>
            <img src="\images\5.jpg" alt="" class="pictureStyle">
            <h4 style="color:white; font-size:15px;">Leia Skywalker - Lena Zyamileva</h4>
            <p class="description">"May the Java be with you."</p>
        </div>
        <div>
            <img src="\images\6.png" alt="" class="pictureStyle">
            <h4 style="color:white; font-size:15px;">Mace Windu - Pavlo Ivaniv</h4>
            <p class="description">"We must remain calm, and let the Java guide us."</p>
        </div>
    </div>
</section>
</body>
</html>
