<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Contact</title>
</head>
<body>
<section layout:fragment="content">
    <style>
            section {
                color: white;
                border-radius: 1em;
                padding: 1em;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%)}
            </style>
    <h2>Sergiy   +380637846999</h2>
    <h2>Pavlo    +380637848531</h2>
    <h2>Natalya  +380635621854</h2>
    <h2>Roman    +380633131525</h2>
    <h2>Svitlana +380972124556</h2>
    <h2>Olena    +380973151411</h2>
</section>
</body>
</html>
