<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Create your account</title>
</head>
<body>
<main layout:fragment="main">
    <form method="POST" class="form-signin" th:object="${userForm}" th:action="@{/registration}">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" th:field="*{email}" class="form-control" placeholder="name@example.com"
                   autofocus id="email">
            <span class="has-error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" th:field="*{password}" class="form-control" id="password">
            <span class="has-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
        </div>

        <div class="mb-3">
            <label for="passwordConfirm" class="form-label">Confirm your password</label>
            <input type="password" th:field="*{passwordConfirm}" class="form-control"
                   id="passwordConfirm">
            <span class="has-error" th:if="${#fields.hasErrors('passwordConfirm')}"
                  th:errors="*{passwordConfirm}"></span>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</main>
</body>
</html>
