<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <title>List of users</title>
</head>
<body>
<div>
    <main layout:fragment="main">
        <div th:if="${users==null}">
            <p>There are no users</p>
        </div>
        <div th:if="${users!=null}">
            <table class="table table-striped">
                <thead>
                <tr th:if="${users!=null}">
                    <th>Email</th>
                    <th style="width:7%; max-width:100px; text-align:center">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user: ${users}">
                    <td th:text="${user.email}"></td>
                    <td>
                        <a></a>
                        <a th:href="@{/contacts/add/{id}(id=${user.id})}" class="btn btn-light"
                           title="Add friend">
                            <img src="/icons/add-user.png"
                                 alt="addButton"
                                 style="border:0; width:30px; height:30px"/>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>
</body>
</html>
